[submodule "flenda/lib/forge-std"]
	path = flenda/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "flenda/lib/openzeppelin-contracts"]
	path = flenda/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
